{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('sellcoins/static', path='js/index.js') }}"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card-section>
      <h3 class="q-my-none">
        SellCoins -
        <small>
          sell {{LNBITS_DENOMINATION}} for <span v-text="settings.fiat"></span>
        </small>
      </h3>
    <q-card>
      <q-card-section>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <q-input
            class="q-pr-md q-pt-sm"
            filled
            dense
            v-model.trim="settings.title"
            label="Title for the sale page"
          ></q-input>
          </div>
          <div class="col-md-5 col-sm-12">
            <q-input
            class="q-pr-md q-pt-sm"
            filled
            dense
            v-model.trim="settings.description"
            label="Description for the sale page"
          ></q-input>
          </div>
          <div class="col-md-4 col-sm-12">
            <q-input
            class="q-pr-md q-pt-sm"
            filled
            dense
            v-model.trim="settings.header_mage"
            label="Header image url (1200x250px)"
          ></q-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <q-select
              class="q-pr-md q-pt-sm"
              filled
              dense
              v-model="settings.send_wallet_id"
              :options="g.user.walletOptions"
              label="Send wallet *"
            ><q-tooltip>Wallet you will send to</q-tooltip></q-select>
          </div>
          <div class="col-md-3 col-sm-12">
            <q-select
              class="q-pr-md q-pt-sm"
              filled
              dense
              v-model="settings.receive_wallet_id"
              :options="g.user.walletOptions"
              label="Receive wallet *"
            ><q-tooltip>Wallet you will send from</q-tooltip></q-select>
          </div>
          <div class="col-md-2 col-sm-12">
            <q-select
              class="q-pr-md q-pt-sm"
              filled
              dense
              emit-value
              v-model="settings.fiat"
              :options="currencyOptions"
              label="Currency you'll denominate your products in"
            ></q-select>
          </div>
          <div class="col-md-2 col-sm-12">
            <q-input
              class="q-pr-md q-pt-sm"
              filled
              dense
              type="number"
              v-model.trim="settings.haircut"
              label="Haircut"
              placeholder="2"
            ></q-input>
          </div>
          <div class="col-md-2 col-sm-12 q-pt-sm">
            <q-btn rounded color="secondary" label="update" @click="updateSettings">
              <q-tooltip>Update</q-tooltip>
            </q-btn>
          </div>
      </div>
      </q-card-section>
    </q-card>
    Launch Public Page <q-toggle
          size="md"
          v-model="settings.launch_page"
          checked-icon="check"
          color="green"
          unchecked-icon="clear"
          :disable="!settings.send_wallet_id && !settings.receive_wallet_id && !settings.title && !settings.description"
        ><q-tooltip>Launch page</q-tooltip></q-toggle><br />
    <q-btn
      unelevated
      color="primary"
      icon="add"
      round
      size="md"
      class="q-mt-md"
      @click="show_product_form = true"
    ></q-btn>
    <q-card v-for="product in products">
      <span v-text="product.price"></span>
    </q-card>
  </div>
  <div class="gt-sm col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "sellcoins/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "sellcoins/_sellcoins.html" %}
        </q-list>
      </q-card-section>
    </q-card>
  </div>

  <!--/////////////////////////////////////////////////-->
  <!--//////////////FORM DIALOG////////////////////////-->
  <!--/////////////////////////////////////////////////-->

  <q-dialog
    v-model="show_product_form"
    position="top"
    @hide="closeFormDialog"
  >
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="createProduct" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="product.title"
          label="Title"
        ><q-tooltip>Title for your product</q-tooltip></q-input>
        <q-input
          filled
          dense
          v-model.trim="product.description"
          label="Description"
        ><q-tooltip>Description for your product</q-tooltip></q-input>
        <q-input
          filled
          dense
          v-model.trim="product.price"
          :label="'Price ' + settings.fiat"
        ><q-tooltip>How much you will sell your product for</q-tooltip></q-input>
        <div class="row">
          <div class="col">
            <q-toggle
            v-if="product.amount == null"
            size="md"
            v-model="product.auto_convert"
            checked-icon="check"
            color="green"
            unchecked-icon="clear"
            :label="product.auto_convert ? 'Auto-convert sats (on)' : 'Auto-convert sats (off)'"
          ><q-tooltip>Will auto convert sats amount from your fiat price</q-tooltip></q-toggle>
          </div>
          <div class="col">
            

      <q-input
      v-if="product.auto_convert == true"
      filled
      dense
      v-model.trim="product.cut_percentage"
      label="Percentage to take as a cut if auto-converting"
    ></q-input>
          </div>
        </div>
        <q-input
        v-if="product.auto_convert == false"
        filled
        dense
        v-model.trim="product.amount"
        label="Amount you want to sell"
      ><q-tooltip>Amount the user will recieve</q-tooltip></q-input>

        <div class="row q-mt-lg">
          <q-btn v-if="product.id" unelevated color="primary" type="submit"
            >Update Product</q-btn
          >
          <q-btn unelevated color="primary" type="submit">Create Product</q-btn>
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %}
