{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-sm-6 col-md-5 col-lg-4">
    <q-card class="q-pa-lg">
      <q-card-section v-if="orderStatus === 'unpaid'" class="q-pa-none">
        <div class="text-center">
          <a class="text-secondary" target="_blank" v-if="paymentRequest.slice(0, 4) === 'lnbc'" :href="'lightning:' + paymentRequest">
            <q-responsive :ratio="1" class="q-mx-md">
              <lnbits-qrcode :value="paymentRequest" :options="{width: 800}" class="rounded-borders"></lnbits-qrcode>
            </q-responsive>
          </a>
          <a class="text-secondary" target="_blank" v-else :href="paymentRequest">
            <q-responsive :ratio="1" class="q-mx-md">
              <lnbits-qrcode :value="paymentRequest" :options="{width: 800}" class="rounded-borders"></lnbits-qrcode>
            </q-responsive>
          </a>
        </div>
        <div class="row q-mt-lg q-gutter-sm">
          <q-btn outline color="grey" @click="copyText(paymentRequest)">Copy Payment Request</q-btn>
          <q-btn outline color="grey" v-if="paymentRequest.slice(0, 4) !== 'lnbc'" :href="paymentRequest"
            target="_blank" class="float-right">Open Link</q-btn>
        </div>
      </q-card-section>
      <q-card-section v-else-if="orderStatus === 'paid'" class="q-pa-none">
        <div class="text-center">
          <a class="text-secondary" :href="'lightning:' + lnurl">
            <q-responsive :ratio="1" class="q-mx-md">
              <lnbits-qrcode-lnurl
        :url="lnurl"
        prefix="lnurlw"
      ></lnbits-qrcode-lnurl>
             </q-responsive>
          </a>
        </div>
      </q-card-section>
      <q-card-section v-else>
        <div class="text-center">
          <p class="text-subtitle2 q-mb-sm q-mt-none">You're Done!</p>
        </div>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-sm-6 col-md-5 col-lg-4 q-gutter-y-md">
    <q-card style="box-shadow: none !important">
      <q-card-section v-if="orderStatus === 'unpaid'">
        <h4 class="q-mb-sm q-mt-none">Order Not Paid</h4>
        <h5 v-if="paymentRequest.slice(0, 4) === 'lnbc'" class="q-mb-sm q-mt-none">Please scan the QR code to pay.</h5>
        <h5 v-else class="q-mb-sm q-mt-none">Please scan the QR code to pay.</h5>
        <img src="/sellcoins/static/image/atm_in.png" class="q-mb-sm q-mt-none" alt="ATM in">
      </q-card-section>
      <q-card-section v-else-if="orderStatus === 'paid'">
        <h4 class="q-mb-sm q-mt-none">Thank you for your order!</h4>
        <h5 class="q-mb-sm q-mt-none">Scan the Qr code to withdraw</h5>
        <img src="/sellcoins/static/image/atm_out.png" class="q-mb-sm q-mt-none" alt="ATM out">
      </q-card-section>
      <q-card-section v-else-if="orderStatus === 'claimed'">
        <h4 class="q-mb-sm q-mt-none">Order Claimed</h4>
        <h5 class="q-mb-sm q-mt-none">Your order sats have been transferred.</h5>
        <img src="/sellcoins/static/image/atm_claimed.png" class="q-mb-sm q-mt-none" alt="ATM claimed">
      </q-card-section>
      <q-card-section v-else>
        <h4 class="q-mb-sm q-mt-none">Order Error</h4>
        <h5 class="q-mb-sm q-mt-none">Order status unknown.</h5>
        <img src="/sellcoins/static/image/atm_error.png" class="q-mb-sm q-mt-none" alt="ATM unknown">
    </q-card>
  </div>
</div>
{% endblock %}
{% block styles %}
<style>
  .q-header,
  .q-footer {
    display: none;
  }
</style>
{% endblock %}
{% block scripts %}
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        lnurl: '{{ lnurl }}',
        orderId: '{{ order_id }}',
        orderStatus: '{{ order_status }}',
        paymentRequest: '{{ payment_request }}',
        paymentHash: '{{ payment_hash }}',
      }
    },
    methods: {
      subscribeToPaymentWS(id) {
        console.log(`Subscribing to payment updates for ID: ${id}`);
        try {
          const url = new URL(window.location)
          url.protocol = url.protocol === 'https:' ? 'wss' : 'ws'
          url.pathname = `/api/v1/ws/${id}`
          const ws = new WebSocket(url)
          ws.onmessage = async ({ data }) => {
            Quasar.Notify.create({
              type: 'positive',
              message: 'Redirecting...',
            })
            ws.close()
            setTimeout(() => {
              location.reload();
            }, 3000)
          }
        } catch (err) {
          console.warn(err)
          LNbits.utils.notifyApiError(err)
        }
      },
    },
    created() {
      this.subscribeToPaymentWS(this.orderId)
    }
  })
</script>
{% endblock %}