{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-sm-6 col-md-5 col-lg-4">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <div class="text-center">
          <a class="text-secondary" href="lightning:{{ lnurl }}">
            <q-responsive :ratio="1" class="q-mx-md">
              <lnbits-qrcode
                :value="qrValue"
                :options="{width: 800}"
                class="rounded-borders"
              ></lnbits-qrcode>
            </q-responsive>
          </a>
        </div>
        <div class="row q-mt-lg q-gutter-sm">
          <q-btn outline color="grey" @click="copyText(qrValue)"
            >Copy Withdraw
          </q-btn>
        </div>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-sm-6 col-md-5 col-lg-4 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h4
          v-text="settings.title"
          class="text-subtitle1 q-mb-sm q-mt-none"
        ></h4>
        <p class="q-my-none" v-text="settings.description"></p
      ></q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-card for="product in products">
          <q-card-section>
            <div class="row">
              <div class="col-6">
                <q-badge color="primary" label="Price"></q-badge>
              </div>
              <div class="col-6 text-right">
                <span v-text="product.price"></span>
                <span v-text="product.fiat"></span>
              </div>
            </div>
          </q-card-section>
          <q-card-section>
            <div class="row">
              <div class="col-6">
                <q-badge color="primary" label="Amount"></q-badge>
              </div>
              <div class="col-6 text -right">
                <span v-text="product.amount"></span>{{LNBITS_DENOMINATION}}
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-card-section>
    </q-card>
  </div>
</div>

<q-dialog v-model="form.show" position="top">
  <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card"> </q-card>
</q-dialog>

<q-dialog v-model="qrcode.show" position="top">
  <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
    <q-responsive :ratio="1" class="q-mx-xl q-mb-md">
      <lnbits-qrcode :value="qrcode.value"></lnbits-qrcode>
    </q-responsive>
    <center>
      <q-btn label="copy" @click="copyText(qrcode.value)"></q-btn>
    </center>
  </q-card>
</q-dialog>

{% endblock %} {% block scripts %}
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        sellcoins_id: '{{sellcoins_id}}',
        form: {
          show: false
        },
        qrcode: {
          show: false,
          value: ''
        }
      }
    },
    methods: {
      copyText: function (text) {
        navigator.clipboard.writeText(text)
      },
      async getData(sellcoins_id) {
        await LNbits.api
          .request('GET', '/sellcoins/api/v1/sellcoins' + sellcoins_id)
          .then(response => {
            this.products.push(response.data.products)
            this.settings.push(response.data.settings)
            this.form.show = false
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
            this.form.show = false
          })
      }
    },
    created: function () {
      eventReactionWebocket(this.sellcoins_id)
    }
  })
</script>
{% endblock %}
